:root {
    --blue: rgba(0, 132, 253, 1);
    --white: rgba(255, 255, 255, 1);
    --violet: rgba(151, 146, 228, 1);
    --yellow: rgba(253, 193, 95, 1);
    --foot: rgba(51, 51, 51, 1);
    --lighter-blue: rgba(181, 221, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --font: 'PT Sans', sans-serif;
}

/* #region COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header {
    background-color: var(--blue);
    height: 60px;
}

ul {
    list-style: none;
}

button {
    border: none;
}

section:nth-child(even) {
    background-color: var(--violet);
}

footer {
    background-color: var(--foot);
}


/* #endregion COMMON */

/* #region debug */

.debug header .container div {
    border: 1px dashed var(--black);
    height: 60px;
    width: 45%;
    background-color: var(--lighter-blue);
}

.debug [class^= 'col_'] {

    border: 1px dashed var(--black);
    height: 200px;
    background-color: orange;
}

.debug section {
    height: 800px;
}

.debug .avatar {
    border: 1px solid var(--black);
    width: 150px;
    aspect-ratio: 1/1;
}
/* #endregion debug */

/* #region utilities */

.container {
    max-width: 1080px;
    margin: auto;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_12 {
    width: 100%;
}

[class^= 'col_'] {
    padding: 0 1rem;
    margin: 1rem 0;
}

/* #endregion utilities */

/* #region header */

#app_header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0.5rem;
}

#app_header a {
    text-decoration: none;
    color: var(--white);
}

.link_list {
    gap: 1rem;
    align-items: baseline;
}

.btn-w {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

/* #endregion header */


/* #region main */

/* #demo */

#demo {
    background-color: var(--white);
}

/* #/demo */

/* #planning */


/* #/planning */

/* #partners */

#partners .col_12 {
    align-items: center;
}

/* #/partners */

/* #benefits */

#benefits {
    margin: 3rem 0;
}

/* #/benefits */

/* #about-us */

/* #/about-us */

/* #get-started */

#get_started {
    text-align: center;
}

/* #/get-started */

/* #endregion main */


/* #region footer */

#app_footer {
    text-align: center;
    padding: 2rem 0;
}

/* #endregion footer */

/* #region responsive */

@media screen and ( min-width: 1200px) {
    
    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }
    
    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    #demo .row {
        justify-content: center;
    }
}


@media screen and ( min-width: 768px) {

    .col_md_12 {
        width: 100%;
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    
    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    #demo .row {
        justify-content: center;
    }

}


/* #endregion responsive */

