:root {
    --blue: rgba(0, 132, 253, 1);
    --white: rgba(255, 255, 255, 1);
    --violet: rgba(151, 146, 228, 1);
    --yellow: rgba(253, 193, 95, 1);
    --foot: rgba(51, 51, 51, 1);
    --lighter-blue: rgba(181, 221, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --gray: rgb(107, 107, 107);
    --font: 'PT Sans', sans-serif;
}

/* #region COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

img {
    max-width: 100%;
}

header {
    background-color: var(--blue);
    height: 60px;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

section:nth-child(even) {
    background-color: var(--violet);
}

section:not(:last-child) {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

footer {
    background-color: var(--foot);
}


/* #endregion COMMON */

/* #region debug */

.debug header .container div {
    border: 1px dashed var(--black);
    height: 60px;
    width: 45%;
    background-color: var(--lighter-blue);
}

.debug [class^= 'col_'] {

    border: 1px dashed var(--black);
    height: 200px;
    background-color: orange;
}

.debug section {
    height: 800px;
}

.debug .avatar {
    border: 1px solid var(--black);
    width: 150px;
    aspect-ratio: 1/1;
}
/* #endregion debug */

/* #region utilities */

.container {
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col_12 {
    width: 100%;
}

[class^= 'col_'] {
    padding: 0 1rem;
    margin: 1rem 0;
}

[class^='card_'] {
    border-radius: 20px;
}

[class^='card_'] h3{
    color: var(--blue);
    padding: 1rem 0;
}

[class^='card_'] p{
    color: var(--gray);
    line-height: 1.8;
}

/* #endregion utilities */

/* #region header */

#app_header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0.5rem;
}

#app_header a {
    text-decoration: none;
}


.link_list {
    display: none;

}

.btn-w {
    background-color: var(--blue);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}


.menu {
    display: inline-block;
}

.menu i {
    color: var(--white);
}

.menu-content {
    display: none;
    position: absolute;
    right: 30px;
    background-color: var(--blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.menu-content a {
    color: var(--white);
    padding: 12px 16px;
    display: block;
}

.menu-content a:last-child {
    background-color: var(--white);
    color: var(--blue);
}

.menu-content a:hover {
    background-color: var(--lighter-blue);
}

.menu-content a:last-child:hover {
    color: var(--white);
}

.menu:hover .menu-content {
    display: block;
  }

/* #endregion header */


/* #region main */

/* #demo */

#demo {
    background-color: var(--white);
}

.card_1, .card_2 {
    flex-direction: column;
    background-color: var(--lighter-blue);
    min-height: 100%;

}

.left-c {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.left-c h3 {
    color: var(--blue);
}

.left-c p {
    color: var(--gray);
    line-height: 1.8;
}

.left-c button {
    background-color: var(--blue);
    color: var(--white);
    width: 50%;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.right-c { 
    padding-top: 2rem;
}

.card_2 {
    text-align: center;
    padding: 1.5rem;
}

span.icon {
    color: var(--blue);
}

/* #/demo */

/* #planning */

.plan_img {
    text-align: center;
}

.plan_img img {
    padding: 4rem 0;
}

.plan_desc {
    color: var(--white);
    width: 80%;
    padding-left: 4rem;
}

.plan_desc h2 {
    padding: 3rem 0;
}

.plan_desc p {

    padding-bottom: 3rem;
    line-height: 1.8;
    font-size: 15px;
    
}

.card_p {
    width: 80%;

    flex-direction: column;
    align-items: center;

    text-align: center;

    padding: 2rem;

    background-color: var(--white);
    border-radius: 20px;
}

.card_p h2 {
    padding: 1rem 0;
}

.card_p p {
    color: var(--black);
    font-style: italic;
}

.flex_plan {
    align-items: center;
    justify-content: center;

    min-height: 100%;

    padding-bottom: 3rem;
}

.arrow_btn {
    background-color: var(--violet);

    margin: 1rem 0;
    padding: 15px 18px;
    border-radius: 50%;
}

/* #/planning */

/* #partners */

#partners p {
    text-align: center;
    padding: 0.5rem 3rem;
    line-height: 1.8;
}

#partners h2 {
    color: var(--violet);
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}

.part_card {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--violet);
    border-radius: 20px;

    padding: 1rem;

    color: var(--white);
}

.part_card img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 30%;
}

.part_card_desc {
    flex-direction: column;
}

.part_card_desc p.strong {
   text-transform: uppercase;
   font-weight: 600;
}

/* #/partners */

/* #benefits */

#benefits {
    margin: 3rem 0;
    padding-bottom: 3rem;
}

#benefits h2 {
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    padding: 3rem 0;
}

.card_ben {
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;

    background-color: var(--white);
}

.card_ben h3 {
    font-size: 3rem;
}

.card_ben h3,
.card_ben strong {
    color: var(--violet);
}

.benefits_btn {
    border-radius: 15px;

    padding: 0.5rem 1rem;
    width: 40%;

    background-color: var(--violet);
    color: var(--white);
    font-weight: 600;
    letter-spacing: 2px;
}

/* #/benefits */

/* #about-us */

#about_us h2:first-child {
    font-size: 3rem;
    color: var(--violet);
    padding: 0 1rem;
}

#about_us p {
    
    padding: 2rem 1rem ;
    line-height: 2.5;
}

.about_help {
    position: relative;
}

.about_img {
    padding: 0 2rem;
    border-radius: 50%;
    width: 30%;
}

.about_help i {
    color: var(--violet);
    position: absolute;
    top: 0px;
    left: 155px;
}

.help {
    flex-direction: column;
    padding: 2rem;
}

.btn_about{
    width: 50%;
    padding: 0.5rem 1rem;
}

.help_title {
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--violet);
    width: 50%;
}


/* #/about-us */

/* #get-started */

#get_started {
    text-align: center;
}

#get_started .flex {
    flex-direction: column;
    align-items: center;

    gap: 2rem;
    color: var(--white);
}

.first_gs {
    text-transform: uppercase;
    text-shadow: 1px 3px var(--gray);
    padding-top: 4rem;
}

#get_started .flex h3 {
    font-size: 2rem;
}

#get_started .flex p {
    width: 35%;
}

.y {
    font-size: 4rem;
    color: var(--yellow);
}

.btn_start {

    padding: 1rem 2rem;
    color: var(--violet);
    border-radius: 25px;
    font-size: 15px;
}

#get_started a {
    color: var(--white);
}

#get_started p:last-child {
    margin-bottom: 2rem;
}


/* #/get-started */

/* #endregion main */


/* #region footer */

#app_footer {
    text-align: center;
    padding: 2rem 0;
    color: var(--white);
}

.foot {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 3rem;
}

.foot p {
    width: 30%;
    font-size: 12px;
}

.foot a {
    color: var(--violet);
}



/* #endregion footer */

/* #region responsive */

@media screen and ( max-width: 480px) {

    .container {
        width: 80%;
    }
    
}

@media screen and ( min-width: 767px) {

    .container {
        width: 95%;
    }

    .col_md_12 {
        width: 100%;
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    
    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .card_1_md {
        flex-direction: column;
    }

    .right-c-md {
        width: 40%;
    }

    .part_card_lg {
        flex-direction: row; 
    }

    .part_card_lg img {
        width: 20%;
    }

    #partners .col_12 p {
        text-align: left;
    }

    .ab_img_md {
        width: 50%;
    }

    .about_help_md i {
        top: 0px;
        right: 65px;
    }

    .btn_abo_lg_md {
        margin-top: 1rem;
        width: 85%;
    }

}

@media screen and ( min-width: 1200px) {

    .container {
        width: 100%;
    }
    
    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }
    
    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .link_list_show {
        display: flex;

        gap: 1rem;
        align-items: baseline;
    }

    .link_list_show a {
        color: var(--white);
    }

    .menu {
        display: none;
    }

    .btn-w-hide {
        background-color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-size: 1rem;
    }

    .card_1_lg {
        flex-direction: row;
    }

    .right-c-lg {
        width: 100%;
    }

    .flex_plan_lg {
        align-items: flex-end;
        justify-content: flex-start;
    }

    .part_card_lg {
        flex-direction: row; 
    }

    .part_card_lg img {
        width: 20%;
    }

    .ab_img_lg {
        width: 70%;
    }

    .about_help_lg i {
        top: 0px;
        right: 50px;
    }

    .help_title {
        width: 100%;
        padding: 0;
    }

    .btn_abo_lg_md {
        width: 90%;
    }

}






/* #endregion responsive */

